body {
    font-family: 'Courier New', Courier, monospace;
}

.listpad {
    background-color: #f0efeb;
    position: relative;
}

.listpad,
.listpad::before,
.listpad::after {
    box-shadow: 2px 1px 1px #cecdcb;
}

.listpad::before,
.listpad::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0efeb;
}

.listpad::before{
    left: 6px;
    top: 5px;
    z-index: -1;
}

.listpad::after{
    left: 12px;
    top: 10px;
    z-index: -2;
}

h1 {
    text-align: center;
    margin-top: 5rem;
    padding-top: 1rem;
    margin-bottom: 0px;
}

.list {
    padding: 0rem 3rem 3rem;
}

input {
    /* border: none; */
    width: 100%;
}

.fa-thumbtack {
    transform: rotate(45deg);
    text-shadow: 4px 2px 4px gray;
}

label {
    color: black;
    font-size: 18px;
}

.todo:nth-child(3n) {
    color: #a74a43;
}

.todo:nth-child(3n+1) {
    color: #23526a;
}

.todo:nth-child(3n+2) {
    color: #426344;
}
